---
import { Image } from 'astro:assets';
import profileRef from '../images/profile.webp';
import marathonRef from '../images/marathon.webp';
import whiskyRef from '../images/whisky.webp';
import playcoverRef from '../images/playcover.webp';
import ryujinxRef from '../images/ryujinx.webp';

import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/project-card.astro";
import About from "../components/about.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Isaac Marovitz" snapping={true}>
    <main>
        <div class="h-screen flex flex-col items-center justify-center px-10 sm:snap-center">
            <div class="flex w-[100%] flex-row items-center justify-start py-20">
                <div class="flex flex-col gap-3 sm:gap-5 lg:gap-10">
                    <div class="flex">
                        <div class="backdrop-blur-md bg-stone-900/60 text-white rounded-md sm:rounded-xl p-2 sm:p-5 drop-shadow-md">
                            <h1 class="text-left font-extrabold text-2xl sm:text-5xl lg:text-8xl">
                                Hi there, I'm
                            </h1>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="backdrop-blur-md bg-stone-900/60 rounded-md sm:rounded-xl p-2 sm:p-5 drop-shadow-md">
                            <h1 class="text-left font-extrabold text-2xl sm:text-5xl lg:text-8xl text-transparent bg-clip-text bg-gradient-to-r from-violet-500 to-fuchsia-500">
                                Isaac.
                            </h1>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="backdrop-blur-md bg-stone-900/60 rounded-full px-2 flex gap-2 drop-shadow-md from-stone-200/10 to-transparent">
                            <a
                                href="https://github.com/IsaacMarovitz"
                                aria-label="Go to my GitHub Account"
                                target="_blank"
                                rel="noreferrer noopener"
                                class="fa-brands fa-github text-white text-2xl sm:text-3xl lg:text-5xl p-2 hover:scale-105 transition duration-300 hover:ease-in-out hover:text-fuchsia-500"
                            ></a>
                            <a
                                href="https://bsky.app/profile/isaacmarovitz.com"
                                aria-label="Go to my Bluesky Account"
                                target="_blank"
                                rel="noreferrer noopener"
                                class="fa-brands fa-bluesky text-white text-2xl sm:text-3xl lg:text-5xl p-2 hover:scale-105 transition duration-300 hover:ease-in-out hover:text-fuchsia-500"
                            ></a>
                            <a
                                href="https://social.treehouse.systems/@isaacmarovitz"
                                aria-label="Go to my Mastodon Account"
                                target="_blank"
                                rel="noreferrer noopener"
                                class="fa-brands fa-mastodon text-white text-2xl sm:text-3xl lg:text-5xl p-2 hover:scale-105 transition duration-300 hover:ease-in-out hover:text-fuchsia-500"
                            ></a>
                        </div>
                    </div>
                </div>
                <div class="grow"></div>
                <Image
                    src={profileRef}
                    alt="Profile"
                    class="drop-shadow-md border-4 border-white lg:border-8 rounded-full h-30 w-30 sm:h-50 sm:w-50 lg:h-70 lg:w-70"
                />
            </div>
            <div class="flex w-[100%] justify-center">
                <a href="#About" aria-label="Scroll down to about me">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor"
                            class="h-10 w-10 sm:h-12 sm:w-12 lg:h-15 lg:w-15 text-white bounce hover:text-fuchsia-500 transition duration-300 hover:ease-in-out hover:drop-shadow-2xl">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5" />
                    </svg>
                </a>
            </div>
        </div>
        <div id="About"></div>
        <About />
        <div id="Projects"></div>
        <ProjectCard
            name="Marathon Recomp"
            description="Static recompilation of Sonic the Hedgehog (2006) for Xbox 360 to Windows, Linux and macOS. Assisted in reverse engineering, decompilation, and patch development."
            link="https://github.com/sonicnext-dev/MarathonRecomp"
            image={marathonRef}
            flipped={true}
        />
        <ProjectCard
            name="Whisky"
            description="A modern Wine wrapper build with SwiftUI on top of Apple's Game Porting Toolkit. Whisky can run DirectX 12 games on Mac with minimal setup."
            link="https://github.com/Whisky-App/Whisky"
            image={whiskyRef}
            flipped={false}
        />
        <ProjectCard
            name="Ryujinx"
            description="A modern Nintendo Switch emulator built from the ground up in C#. Ryujinx achieves impeccable compatibility while maintaining modern and readable code."
            link="https://github.com/Ryubing/Ryujinx"
            image={ryujinxRef}
            flipped={true}
        />
        <ProjectCard
            name="PlayCover"
            description="A macOS app that allows you to run iOS apps and games through Mac Catalyst. PlayCover also extends Catalyst with additional features such as device ID spoofing, keymapping, and resolution control."
            link="https://github.com/PlayCover/PlayCover"
            image={playcoverRef}
            flipped={false}
        />
        <Footer />
    </main>
</Layout>

<style is:global>
    .bounce {
        animation: bounce 2s infinite;
    }

    @keyframes bounce {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-2dvh); }
    }
</style>